<h1 class="title">{{title}}</h1>
<div class="frecuency-container">
  <p class="annually">Annually</p>
  <div class="toggle">
    <input type="radio" name="radio" class="radio radio-annually" [class.radio-annually]="radioAnnually" [checked]="checkedAnnually" (click)="checkedFunctionAnnually()">
    <input type="radio" name="radio" class="radio radio-monthly" [class.radio-monthly]="radioMonthly" [checked]="checkedMonthly" (click)="checkedFunctionMonthly()">
  </div>
  <p class="monthly">Monthly</p>
</div>
<div class="cards">
  <app-card-basic [basicPrice]="basicPrice"></app-card-basic>
  <app-card-professional [professionalPrice]="professionalPrice"></app-card-professional>
  <app-card-master [masterPrice]="masterPrice"></app-card-master>
</div>